@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    font-family: 'Roboto', sans-serif;
}

a {
    color: black;
}

p {
    margin: 0;
    padding: 0;
}

#bodydiv {
    background-color: #3949ab;
    color: white;
    padding: 20px
}

#clockdiv{ 
    font-family: sans-serif; 
    color: #fff; 
    display: inline-block; 
    font-weight: 100; 
    text-align: center; 
    font-size: 30px; 
} 
#clockdiv > div{ 
    padding: 20px; 
    border-radius: 3px; 
    background: #3949ab; 
    display: inline-block; 
    border: 2px solid white;
} 
#clockdiv div > span{ 
    padding: 15px; 
    border-radius: 3px; 
    background:  #4b5cc7;; 
    display: inline-block; 
    border: 1px solid white;
} 
smalltext{ 
    padding-top: 5px; 
    font-size: 16px; 
} 